[Unit]

Description=${description}
After=syslog.target network.target local-fs.target

[Service]

Type=forking
LimitNOFILE=120000
Restart=on-failure
RestartSec=5s

Environment="HOME=${app_root}"
Environment="CODE_LOADING_MODE=interactive"

ExecStart=${app_name} start
ExecStop=${app_name} stop

[Install]
WantedBy=multi-user.target
